<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <form name="myForm" class="form-group card component-form" novalidate>
            <div class="row">
                <div class="col-sm-12" class="form-header">
                    <h5>SignUp</h5>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <label>Name</label>
                    <input name="name" required="" type="text" class="form-control" placeholder="User Name"
                           ng-model="user.name">
                    <div ng-show="myForm.name.$dirty">
                        <span ng-show="myForm.name.$error.required" style="color: red">Enter code</span>
                    </div>
                    <hr>
                </div>
                <div class="col-sm-12">
                    <label>Email</label>
                    <input name="email" required="" type="email" class="form-control" placeholder="User email"
                           ng-model="user.email">
                    <div ng-show="myForm.email.$dirty">
                        <span ng-show="myForm.email.$error.required" style="color: red">Enter email</span>
                    </div>
                    <hr>
                </div>
                <div class="col-sm-12">
                    <label>User Password</label>
                    <input name="password" required="" type="password" class="form-control" placeholder="Password"
                           ng-model="user.password">
                    <div ng-show="myForm.password.$dirty">
                        <span ng-show="myForm.password.$error.required" style="color: red">Enter password</span>
                    </div>
                    <hr>
                </div>
                <div class="col-sm-12">
                    <button class="btn btn-primary" ng-click="register()"ng-disabled="myForm.$invalid">
                        submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>